<section id="setup-no-org">
  <header>There is no organization for your domain. Hooyu is not usable with this Google Account.</header>
  <%= link_to "Log out & select the correct account", destroy_user_session_path %>
</section>
