@import "bootstrap";
@import "main";
@import "react-select";
@import "admin";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body:before, body:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-image: url('/images/background.jpg');
}

body:before {
  z-index: -2;
}

body:after {
  $blur: 8px;
  z-index: -1;
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

body {
  z-index: 0;
}

.container-fluid {
  height: 100%;
  padding-top: 40px;
}
