// Layout

@import "bootstrap";

#person-image-container {
  @include make-row();
  height: 40%;
  overflow: hidden;

  padding-top: 5%;
  padding-bottom: 5%;
}

#question-container {
  @include make-row();
  height: 60%;
  overflow: hidden;

  header, ul {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
    font-size: 21px;
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }
  header {
    text-align: center;

    color: white;
    background-color: rgba(0,0,0, 0.5);
  }

  ul {
    @include list-unstyled();

    li {
      margin: 14px;
      text-align: center;
      cursor: pointer;

      color: white;
      background-color: rgba(0,0,0,0.5);
    }
  }
}

// Setup
#setup-person {
  margin-top: 15px;

  .setup-image {
    display: block;
    height: 120px;
    margin: 0 auto;
  }
}

#done-container {
  @include make-row();

  header, a {
    @include make-xs-column(12);
    margin-top: 20px;
    font-size: 1.8em;
    min-height: 3em;
    line-height: 3em;
    text-align: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#setup-no-org {
  @include make-row();

  header, a {
    @include make-xs-column(12);
    font-size: 1.3em;
    line-height: 2em;
    margin-top: 20px;
    text-align: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#stats {
  position: absolute;
  top: 15px;
  right: 15px;

  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#logout, #settings {
  z-index: 1000;
  position: absolute;
  top: 15px;

  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  a {
    color: white;
  }
}

#logout {
  left: 15px;
}

#settings {
  left: 80px;
}

// Generic Helpers

.full-width-img-wrapper {
  @include make-xs-column(12);
  height: 100%;

  img {
    margin: 0 auto;
    height: 100%;
  }
}

[data-react-class] {
  display: inline;
}
