<!DOCTYPE html>
<html>
<head>
  <title>Hooyu</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/assets/application.css" media="all" />
  <script src="/assets/application.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
